{% load static %}
<html> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Quellen</title>

    <link rel="stylesheet" id="bs-base-fonts">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body id="page">
  <div class="container-fluid" id="content">
                    
    <nav data-section-id="1" data-share="" data-category="navigations" data-component-id="886f4350_01_awz" class="navbar navbar-light justify-content-center"><a class="navbar-brand mr-0 h1" href="{% url 'home' %}" data-config-id="brand">DB Übung 10</a></nav>
                  
    <section data-section-id="2" data-share="" data-category="headers" data-component-id="44d0b9e2_01_awz" class="jumbotron">
      <div class="container text-center">
        <h3 class="display-6" data-config-id="header">Daten zu Hochschulen und Bevölkerung</h3>

        <a class="btn btn-primary my-2" target="_blank" href="https://github.com/users-pc/Datenbanken-Modul.git" data-config-id="primary-action">Github</a><a class="btn btn-link my-2" href="#" data-config-id="secondary-action">Documentation</a>
      </div>
    </section>
    <br> 
    
    <h3> Bevölkerung</h3> 
    <div class="container">
    <form action="{% url 'bevölkerung' %}" method="get">
      <input
        type="search"
        name="q"
        placeholder="Vector Search"
        class="form-control"
      />
    </form>
  </div>
    <div class="table-responsive">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">#id</th>
              <th scope="col">DG</th>
              <th scope="col">Ort</th>
              <th scope="col">Ingesamt</th>
              <th scope="col">Männliche Bevölkerung</th>              
              <th scope="col">Weibliche Bevölkerung</th>
            
            </tr>
          </thead>
          <tbody>
            {% for i in bevölkerung %}
            <tr>
              <th scope="row">{{forloop.counter}}</th>
              <td>{{i.dg}}</td>
              <td>{{i.ort}}</td>
              <td>{{i.total_population}}</td>
              <td>{{i.male_population}}</td>
              <td>{{i.female_population}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>

    <nav aria-label="Page navigation">
      <ul class="pagination justify-content-center">
        {% if bevölkerung.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{ bevölkerung.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">Previous</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">Previous</span>
            </a>
          </li>
        {% endif %}

        {% for num in bevölkerung.paginator.page_range %}
          {% if bevölkerung.number == num %}
            <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% else %}
            {% if num <= bevölkerung.number|add:2 %}
              <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
          {% endif %}
        {% endfor %}
        <li class="page-item"><a class="page-link" href="?page={{ bevölkerung.paginator.page_range|length }}">Last Page</a></li>


        {% if bevölkerung.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ bevölkerung.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">Next</span>
            </a>
          </li>
        {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">Next</span>
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
  
  
    </div>
    <footer data-section-id="4" data-share="custom-470515" data-category="footers" data-component-id="7fd1b1dd_07_awz" data-custom-component-id="470515" class="py-3"><div class="container">
        <div class="justify-content-between d-flex flex-column flex-lg-row align-items-center">
          <h5 class="mb-0"><a href="#" data-config-id="text2">DB Übung 10</a></h5>
          <ul class="nav justify-content-center my-2 my-lg-0">
            <li class="nav-item"><a class="nav-link" href="#" data-config-id="text4">Documentation</a></li>
            <li class="nav-item"><a class="nav-link" target="_blank" href="https://github.com/users-pc/Datenbanken-Modul.git" data-config-id="text5">Github</a></li>
          </ul><p class="mb-0 small text-center text-sm-right" data-config-id="text1">von Ilhan Kapcik, Rosan Sharma &amp; Rayan Ben Tanfous</p>
        </div>
      </div>
    </footer>
</body>
</html>