{% load static %}
<html> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Übung 10</title>

    <link rel="stylesheet" id="bs-base-fonts">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body id="page">
    <div class="container-fluid" id="content">
                    
    {% include 'basics/nav.html' %}  
        <!-- Visual section  -->
        <!-- Folium Karten -->
         <br>
        <div class="card text-center">
            <div class="card-header">
              Karte 1
            </div>
            <div class="card-body">
                <h5 class="card-title">Hochschul Karte</h5>
                <p class="card-text">Diese Karte zeigt alle Hochschulen auf einer Dynamischen Karte mit verweis auf die Homepage.</p>
              <a href="{% url 'hochschulkarte' %}" class="btn btn-primary">Anschauen</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
              Karte 2
            </div>
            <div class="card-body">
              <h5 class="card-title">Bevölkerungs Karte</h5>
              <p class="card-text">Flächenwertstufenkarte, bei der die Gebiete im Verhältnis zur Verteilungsdichte der gesamt Bevölkerung in den Bundesländern eingefärbt sind.</p>
              <a href="{% url 'bevölkerungskarte' %}" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <div class="card text-center">
            <div class="card-header">
              Karte 3
            </div>
            <div class="card-body">
              <h5 class="card-title">Kombination aus beiden Datensätzen</h5>
              <p class="card-text">.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <br>
        <!-- Visual section ende -->
    {% include 'basics/footer.html' %}
    </div>
</body>
</html>